html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup{ margin:0; padding:0; border:0;  font-family:"Microsoft YaHei";}
html{ -webkit-text-size-adjust:none;}
body{ font-size:12px; line-height:24px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased; color:#333;}
input,textarea{ resize:none; font-family:"Microsoft YaHei"; }
img{ border:none; vertical-align:bottom;}
ul,li{ list-style:none;}
a{ text-decoration:none; color:#333;}
a:hover{ color:#2ab2c9;}
a:focus{outline:none;}
h1,h2{ font-weight:normal;}
input:focus,textarea:focus{ outline:none;}
.fl{ float:left;}
.fr{ float:right;}
.or{ overflow:hidden;}
.cl{ clear:both;}
.box{width: 1000px;margin: 0 auto}
a:hover{color: chocolate }
h1{font-size:32px;font-family: "方正兰亭纤黑_GBK";color:#1ab4c3;text-align: center;line-height: 32px;padding:80px 0 13px 0}
p{font:16px HelveticaNeue;color:#c3c3c3;text-align: center;line-height: 16px;text-transform: uppercase}
button:hover{cursor: pointer}
.select * {margin: 0;padding: 0;appearance:none;-moz-appearance:none;-webkit-appearance:none}
/*公用样式*/

.header{height: 90px;}
.header p{margin-top: 22px;display: inline-block}
.header ul{float: right;margin: 39px 90px 37px 0}
.header ul li{float: left;line-height: 14px}
.header ul li a{padding: 39px 26px 37px 26px;font: 14px}
.header ul li:nth-child(1) a{padding:39px 31px 37px 31px;}
.header ul li:nth-child(2) a{padding-left:23px}
.header ul .on a{background:#1ab4c3;color: white}
.header ul a:hover {background:#1ab4c3;color: white}
/*头部公共代码*/

.footer {background:#1ab4c3;height: 160px}
.footer p{padding:55px 0 13px 0;display: inline-block}
.footer p a{color: white;font-size: 12px}
.footer p em{height: 11px;width: 1px;display: inline-block;background: white;margin: 0 17px}
.footer dl{float: right;position: relative;margin-top:55px }
.footer dl dt img{border-radius: 100%;position: absolute;top:0px;left:0px;}
.footer dd {margin:1px 17px 0 39px;line-height: 12px;font: 12px "微软雅黑";color: white}
.footer ul li{color: white}
.footer a:hover{color: chocolate}
/*尾部*/

.mask {position:fixed; left:0;top:0;z-index:100;width:100%; height:100%; background:#000; opacity:0.6; filter:alpha(opacity=60);-moz-opacity:0.6; display:none}

.window{position: fixed;left:50%;top:40%;margin:-220px;z-index:101;height:495px;width: 500px;background: white;display:none}
.window h2{color:#1ab4c3;font-size: 22px;line-height: 22px; margin:40px 0 20px 61px;overflow: hidden}
.window input{width: 356px;height: 12px;border: 1px solid #d1d1d1;border-radius:3px ;margin:0 0 13px 61px;padding:14px 11px 14px 11px;line-height:12px;font-size: 12px}
.window textarea{width: 356px;height: 121px;border: 1px solid #d1d1d1;border-radius: 3px;margin:0 0 13px 61px;padding:14px 11px 14px 11px;line-height: 12px;font-size: 12px}
.window button {width: 377px;height: 43px;border: 0px;border-radius: 3px;margin:0 0 13px 61px;text-align: center;font: 16px "微软雅黑";color: white;background:#1ab4c3 }
.window .x a{font-size: 30px;color:#1ab4c3;position: absolute;right: 20px;top:20px}

.sure {position:fixed;left:50%;top:40%;;margin-left: -159px; z-index: 102;width: 377px;height: 70px;background:white;font-size:14px;text-align:center;border: 1px solid #d1d1d1;padding-top: 5px;overflow: hidden;display: none}
.sure button{width: 114px;height:32px;background:#1ab4c3;font: 14px "微软雅黑";border:0px;border-radius:3px;color: white;text-align: center}

