.banner{background: url(../images/banner4.png)no-repeat center 0;width:100%; height:330px;}

.mian p{margin-bottom: 48px}
.mian dl{float: left;width: 470px;color: #2e2e2e;font-size: 12px;line-height: 24px;margin-bottom: 60px}
.mian dl:nth-of-type(2n){margin-left:60px}
.mian dl dd a{font-size: 16px;line-height: 26px}

.but{margin:0 0 0 371px}
.but button{margin-right:30px;height: 32px;width: 112px;border: 1px solid #dbdbdb;line-height: 12px;margin-bottom: 70px;
	 background-color: white;border-radius:3px;font-size:12px;font-family: "微软雅黑";padding:10px 28px 10px 36px}
.but button:hover{cursor: pointer}

.con {position: relative;height:350px}
.con h2 {font: 60px Adobe Caslon Pro;color:#1ab4c3;text-transform: uppercase;padding:109px 0 0 481px}
.con p img {position: absolute;top:0px;left: 27px}
.con p{font:28px "Adobe 黑体 Std";line-height: 38px;text-align: left;padding-left: 481px}